/* 
    Document   : login
    Created on : Feb 15, 2013, 1:05:35 PM
    Author     : Josh
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.error {
    color:red;
}

#global{}

